@font-face{
	src: url('fonts/Raleway-Regular.ttf');
	font-family: raleway;
}

body{
	font-family: raleway;
	margin: 0px;
}

h1{
	text-decoration: underline;
	margin-bottom: 50px;
	color: blue;
}

form{
	text-align: center;
	border: 2px solid black;
	border-radius: 5px;
	width: 700px;
	padding: 20px;
	background-color: #e6e7e8;
	margin: auto;
	margin-bottom: 20px;
}

.label-class{
	font-weight: bold;
}

input[type=text]{
	padding: 10px;
	border-radius: 10px;
	width: 210px;
	font-size: 17px;
	border-color: black;
}
input[type=email]{
	padding: 10px;
	border-radius: 10px;
	width: 210px;
	font-size: 17px;
	border-color: black;
}
input[type=date]{
	padding: 10px;
	border-radius: 10px;
	width: 210px;
	font-size: 17px;
	border-color: black;
}
input[type=number]{
	padding: 10px;
	border-radius: 10px;
	width: 210px;
	font-size: 17px;
	border-color: black;
}

input[type=submit]{
	font-family: raleway;
	border-radius: 10px;
	border: 2px solid #99bdf7;
	background-color: #99bdf7;
	padding: 6px;
	cursor: pointer;
	font-size: 15px;
}

input[type=submit]:hover{
	background-color: #77a8f7;
	border: 2px solid #77a8f7;
}
@media screen and (max-width :800px){
    form {
        width: 400px !important;
    }
    
}


