button{
    color: black !important;
  justify-content: space-around !important;
  margin-bottom: 10px !important;
  margin-top: 20px !important;


}
.log{
    margin-top: 100px !important;
}
.butst{
    color: white !important;
}
 a {
    color: black !important;
    text-decoration: none !important;

}
a:hover{
    background: #00C1FE !important;
}
.btn{
    color:white !important;
    font-weight: bold !important;
  }
  body{
      overflow: hidden !important;
      overflow: visible !important;

  }
  .phov:hover{
    background:rgba(236, 228, 228, 0.198) !important;
  }
